# Will update with @ansible-collections/cloud once the team gets permissions
# *       @ansible-collections/cloud
*       @abikouo
*       @alinabuzachis
*       @GomathiselviS
*       @gravesm
*       @hakbailey
*       @jillr
*       @mandar242
